<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<h1>Bienvenido al Login</h1>
<div style="width: 200px">
    <form class="form" style="display: flex; flex-direction: column;">
        <label style="padding-bottom: 10px;">Email</label>
        <input style="margin-bottom: 10px;" type="text"/>
        <label style="padding-bottom: 10px;">Password</label>
        <input style="margin-bottom: 10px;" type="password"/>
        <label style="padding-bottom: 10px;">Name</label>
        <input style="margin-bottom: 10px;" type="text"/>
        <label style="padding-bottom: 10px;">Surname</label>
        <input style="margin-bottom: 10px;" type="text"/>
        <input style="margin-bottom: 10px;" type="submit" value="Registrar"/>
    </form>
</div>
</body>
</html>